.destacados{
    background-color: #f3f1d6;
    height: 100vh;

    h2{
        color: #97F0BD;
        font-family: $font-merry;
        font-size: 30px;
        font-weight: 600;

    }

    hr{
        color: #F09E97;
        height: 2px;
    }
}