$color-verdementaoscuro: #97F0BD;
$color-verdementa:#B0F0CC;
$color-rosado:#F09E97;
$color-lavanda: #C0A5D1;
$color: #F0E343;



$font-merry: 'Merriweather', serif;
$font-dancing:'Dancing Script', cursive;
$font-indie: 'Indie Flower', cursive;

$fontsize-xlarge: 80px;
$fontsize-large: 40px;
$fontsize-medium: 20px;
$fontsize-small: 16px;

$font-bold: 700;
$font-light: 300;
$font-regular:400;


