.header-boton{

    width: 8rem;
    position: absolute;
    left: 80%;
    color: $color-verdementa;
    background-color: $color-rosado;
}

.card-boton{
    background-color: #FFF;
    color:$color-verdementa;
   

}